.menu {
    &__list {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, .3);
    }
}

.filter {
   width: 50%;
   margin: 1% auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.choiceText {
    font-style: italic;
    color: gray;
}

select {
    padding: 1%;
    cursor: pointer;
}

option {
    padding: 1%;
}

label {
    margin-right: 1%;
}