@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}


//MEDIA
@media (max-width: 1200px) {
    .welcome {
        &__title {
            padding-top: 2.5%;
            font-size: 2rem;
            text-shadow: #3b3b3b 2px 2px 0, #3b3b3b -2px -2px 0, #3b3b3b -2px 2px 0, #3b3b3b 2px -2px 0;
        }

        &__subtitle {
            font-size: 1.5rem;
        }

        &__btn {
            width: 120px;
            height: 50px;
            font-size: 20px;
        }
    }

}

@media (max-width: 992px) {
    .contact {
        &__img {
            &-chefs {
                display: none;
            }
        }
    }
}

//TABLET
@media (max-width: 768px) {
    .welcome {
        &__title {
            padding-top: 10%;
        }
    }

    .header {
        justify-content: space-around;

        &__logo {
            display: none;
        }
    }

    .filter {
        width: 50%;
    }

    select {
        width: 90%;
        font-size: 20px;
    }

    label {
        font-size: 24px;
    }

    .footer {
        &__text {
            display: none;
        }
        &__mobile {
            display: block;
        }
        &__envelope {
            display: none;
        }
    }
}

//MOBILE
@media (max-width: 576px) {
    .welcome {
        &__title {
            padding-top: 15%;
        }
    }

    .header {
        display: none;
    }

    .header__mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, .5);
        height: 60px;
    }


    .filter {
        width: 300px;
    }

    label {
        display: none;
    }

    select {
        width: 100%;
        margin: 3% 5%;
    }


    .menu__category_Img {
        display: none;
    }


    .cart {
        &__item {
            width: 280px;

            &-title,
            &-price {

                text-align: center;
                font-size: 18px;
            }

            &-img {
                height: 125px;
                width: 125px;
                object-fit: cover;
            }
        }
    }

    .contact {
        &__container {
            justify-content: center;
        }

        &__title {
            font-size: 2rem;
            text-shadow: #3b3b3b 2px 2px 0, #3b3b3b -2px -2px 0, #3b3b3b -2px 2px 0, #3b3b3b 2px -2px 0;
        }

        &__form {
            padding: 10% 0% 1%;
            grid-template: 55px 55px 190px 65px / 300px;
            justify-content: center;
        }

        &__triggers {
            grid-column: 1 / 2;
            grid-template-columns: 1fr;
        }

        &__textarea {
            grid-column: 1 / 2;
        }

        &__btn {
            border-radius: 0px;
            outline: 0.5px solid #3b3b3b;
        }

        &__policy {
            margin-top: 2%;
            text-align: center;

            input {
                margin-right: 5px;

            }
        }
    }
}