* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

//MEDIA
@media (max-width: 1200px) {
    .welcome {
        &__title {
            padding-top: 2.5%;
            font-size: 2rem;
            text-shadow: #3b3b3b 2px 2px 0,#3b3b3b -2px -2px 0,  #3b3b3b -2px 2px 0, #3b3b3b 2px -2px 0;
        }
        &__subtitle {
            font-size: 1.5rem;
        }
        &__btn {
            width: 120px;
            height: 50px;
            font-size: 20px;
        }
    }

}

@media (max-width: 992px) {
    .contact {
        &__img {
            &-chefs {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        justify-content: space-around;
        &__logo {
            display: none;
        }
    }

    .filter {
        width: 50%;
    }
    select {
        width: 90%;
        font-size: 20px;
    }
    
    
    
    label {
        font-size: 24px;
    }
         
    
}

@media (max-width: 576px) {}

